body {
  background: linear-gradient(
    to right, 
    rgb(0, 0, 150), 
    rgb(150, 0, 0) 100%);
    text-align: center;
    background-repeat: no-repeat;
    padding: 1% 8%;
}

h1 {
  font-family:'Sriracha', cursive;
  color: white;
  margin: auto;
  text-align: center;
}

p,
code,
h2 {
  align-self: center;
  color: white;
  font: 20px 'Sriracha', cursive;
  text-align: justify;
}

.division {
  display: flex;
  justify-content: space-between;
}

.division-child {
  flex-basis: 40%;
}

.bglogo {
  border-radius: 5%;
  width: 400px;
  height: 400px;
}

.squareBlue {
  background-color: rgb(0, 0, 255);
  width: 400px;
  height: 400px;
  margin: 5% auto;
}

.imageModel {
  margin-left: 31%;
  mix-blend-mode: multiply;
  height: 100%;
}

.imageModel2 {
  mix-blend-mode: multiply;
  width: 110%;
}

.bgBrown {
  background-color: brown;
  width: 50vw;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  mix-blend-mode: color-dodge;
}

.overBrown {
  mix-blend-mode: color-dodge;
}

.bgBricks {
  background: url("assets/textureBricks.jpg");
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
}

.bgSteins {
  background: url("assets/textureSteins.jpg");
  width: 50vw;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
}

.textureA {
  width: 50vw;
  height: 500px;
  margin: 10% auto;
  background: url(assets/model.jpg), url(assets/textureSteins.jpg), rgb(0, 255, 0);
  background-blend-mode: multiply, multiply, normal;
}

.textureB {
  width: 50vw;
  height: 500px;
  margin: 10% auto;
  background: url("assets/textureBricks.jpg");
  background-blend-mode: screen;
  overflow: hidden;
}

.street {
  color: chocolate;
  font: 125px/201px 'Finger Paint', cursive;
  mix-blend-mode: color-dodge;
  padding-top: 14%;
  padding-right: 14%;
}

.bgModel {
  background-image: url(assets/model.jpg);
  width: 110%;
  height: 500px;
  margin: 5% auto;
  overflow: hidden;
  background-size: 110%;
}

.degrade {
  background: linear-gradient(black, white);
  width: 50vw;
  height: 500px;
  margin: 10% auto;
  overflow: hidden;
}

.degradeRed {
  background: linear-gradient(rgb(150, 0 , 0), rgb(100, 100, 0));
  width: 50vw;
  height: 500px;
  margin: 10% auto;
  overflow: hidden;
}

.degradeRedLight {
  background: linear-gradient(rgb(255, 0 , 0), rgb(255, 255, 0));
  width: 50vw;
  height: 500px;
  margin: 5% auto;
  overflow: hidden;
}

.images {
  width: 50vw;
  height: 500px;
  margin: 10% auto;
  position: relative;
  overflow: hidden;
}

.sameImages {
  position: absolute;
  top: 0;
  left: 0;
}

.over {
  width: 110%;
}

.overTop {
  margin-top: 0;
}

/* screen modes */

.multiply {
  mix-blend-mode: multiply;
}

.screen {
  mix-blend-mode: screen;
}

.overlay {
  mix-blend-mode: overlay;
  width: 110%;
}

.hardLight {
  mix-blend-mode: hard-light;
  width: 110%;
}

.softLight {
  mix-blend-mode: soft-light;
  width: 110%;
}

.colorDodge {
  mix-blend-mode: color-dodge;
  width: 110%;
}

.colorBurn {
  mix-blend-mode: color-burn;
  width: 110%;
}

.darken {
  mix-blend-mode: darken;
  width: 110%;
}

.lighten {
  mix-blend-mode: lighten;
  width: 110%;
}

.difference {
  mix-blend-mode: difference;
  width: 110%;
}

.exclusion {
  mix-blend-mode: exclusion;
  width: 110%;
}

.hue {
  mix-blend-mode: hue;
  width: 110%;
  margin: 0;
}

.saturation {
  mix-blend-mode: saturation;
  width: 110%;
  margin: 0;
}

.color {
  mix-blend-mode: color;
  width: 110%;
  margin: 0;
}

.luminosity {
  mix-blend-mode: luminosity;
  width: 110%;
  margin: 0;
}

