body {
  background: linear-gradient(
    to right, 
    rgb(0, 0, 150), 
    white 100%);
    text-align: center;
    background-repeat: no-repeat;
}

h1, 
h2 {
  font-family:'Sriracha', cursive;
  color: white;
  margin: auto;
  text-align: center;
}

p {
  align-self: center;
  color: white;
  font: 52px 'Sriracha', cursive;
}

.division {
  display: flex;
  justify-content: space-between;
}

.division-child {
  flex-basis: 40%;
}

.bglogo {
  border-radius: 5%;
  width: 400px;
  height: 400px;
}

.squareBlue {
  background-color: rgb(0, 0, 255);
  width: 400px;
  height: 400px;
  margin: 5% auto;
}

.imageModel {
  margin-left: 31%;
  mix-blend-mode: multiply;
  height: 100%;
}

.imageModel2 {
  mix-blend-mode: multiply;
  width: 110%;
}

.bgBrown {
  background-color: brown;
  width: 50vw;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  mix-blend-mode: color-dodge;
}

.overBrown {
  mix-blend-mode: color-dodge;
}

.bgBricks {
  background: url("assets/textureBricks.jpg");
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
}

.bgSteins {
  background: url("assets/textureSteins.jpg");
  width: 50vw;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
}

.imgBlack {
  mix-blend-mode: screen;
}

.imgWhite {
  mix-blend-mode: multiply;
}

.textureA {
  width: 50vw;
  height: 500px;
  margin: 10% auto;
  background: url("assets/model.jpg"), url("assets/textureSteins.jpg"), rgb(0, 255, 0);
  background-blend-mode: multiply;
}

.textureB {
  width: 50vw;
  height: 500px;
  margin: 10% auto;
  background: url("assets/textureBricks.jpg");
  background-blend-mode: screen;
  overflow: hidden;
}

.street {
  font: 50px/203px 'Finger Paint', cursive;
  mix-blend-mode: overlay;
  color: beige;
  padding-top: 38%;
  padding-right: 39%;
}

.degrade {
  background: linear-gradient(black, white);
  width: 50vw;
  height: 500px;
  margin: 10% auto;
  overflow: hidden;
}

.degradeRed {
  background: linear-gradient(rgb(150, 0 , 0), rgb(100, 100, 0));
  width: 50vw;
  height: 500px;
  margin: 10% auto;
  overflow: hidden;
}

.degradeRedLight {
  background: linear-gradient(rgb(255, 0 , 0), rgb(255, 255, 0));
  width: 50vw;
  height: 500px;
  margin: 10% auto;
  overflow: hidden;
}

.images {
  width: 50vw;
  height: 500px;
  margin: 10% auto;
  position: relative;
  overflow: hidden;
}

.sameImages {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  mix-blend-mode: overlay;
  width: 110%;
}

.over {
  width: 110%;
}

.hardLight {
  mix-blend-mode: hard-light;
  width: 110%;
}

.softLight {
  mix-blend-mode: soft-light;
  width: 110%;
}

.colorDodge {
  mix-blend-mode: color-dodge;
  width: 110%;
}

.colorBurn {
  mix-blend-mode: color-burn;
  width: 110%;
}

.darken {
  mix-blend-mode: darken;
  width: 110%;
}

.lighten {
  mix-blend-mode: lighten;
  width: 110%;
}

.difference {
  mix-blend-mode: difference;
  width: 110%;
}

.parent {
  width: 500px;
  height: 500px;
  margin: 10% auto;
  background-color: yellow;
  position: absolute;
  left: 34%;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items;: center;
  position: absolute;
  border: 3px solid white;
}

.green {
  background-color: rgb(0, 255, 0);
  top: 20%;
  left: 17%;
}

.red {
  background-color: rgb(255, 0, 0);
  top: 20%;
  left: 46%;
}

.blue {
  background-color: rgb(0, 0, 255);
  top: 42%;
  left: 31%;
}