body {
  background: linear-gradient(
    to right, 
    rgb(0, 0, 150), 
    white 100%);
}

.parent {
  width: 500px;
  height: 500px;
  margin: 10% auto;
  background-color: yellow;
  position: absolute;
  left: 34%;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items;: center;
  position: absolute;
  border: 3px solid white;
}

.green {
  background-color: rgb(0, 255, 0);
  top: 20%;
  left: 17%;
}

.red {
  background-color: rgb(255, 0, 0);
  top: 20%;
  left: 46%;
}

.blue {
  background-color: rgb(0, 0, 255);
  top: 42%;
  left: 31%;
}

h1 {
  font-family:'Sriracha', cursive;
  color: white;
  margin: auto;
  text-align: center;
}

p {
  align-self: center;
  color: white;
  font: 52px 'Sriracha', cursive;
}

.bglogo {
  border-radius: 5%;
  width: 400px;
  height: 400px;
}

.squareBlue {
  background-color: rgb(0, 0, 255);
  width: 400px;
  height: 400px;
  margin: 5% auto;
}

.imageModel {
  margin-left: 49%;
  mix-blend-mode: unset;
  height: 100%;
}

.textureA {
  width: 62vw;
  height: 500px;
  margin: 10% auto;
  background: url("assets/model.jpg"), url("assets/textureSteins.jpg"), rgb(0, 255, 0);
  background-blend-mode: screen;
}

.street {
  font: 200px 'Finger Paint', cursive;
  mix-blend-mode: difference;
  color: beige;
}

.textureB {
  width: 62vw;
  height: 500px;
  margin: 10% auto;
  background: url("assets/textureBricks.jpg");
  background-blend-mode: screen;
}
